<a href="https://colab.research.google.com/github/2303a51975/AIML-2025_B15/blob/main/2303a51975_Q_15_b_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [ ]:
data = pd.read_csv('/content/online_shoppers_intention.csv')

In [ ]:
print(data.head())

   Administrative  Administrative_Duration  Informational  \
0               0                      0.0              0
1               0                      0.0              0
2               0                      0.0              0
3               0                      0.0              0
4               0                      0.0              0

   Informational_Duration  ProductRelated  ProductRelated_Duration  \
0                     0.0               1                 0.000000
1                     0.0               2                64.000000
2                     0.0               1                 0.000000
3                     0.0               2                 2.666667
4                     0.0              10               627.500000

   BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  \
0         0.20       0.20         0.0         0.0   Feb                 1
1         0.00       0.10         0.0         0.0   Feb                 2
2         0.20       0.20         0.0         0.0   Feb                 4
3         0.05       0.14         0.0         0.0   Feb                 3
4         0.02       0.05         0.0         0.0   Feb                 3

   Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0        1       1            1  Returning_Visitor    False    False
1        2       1            2  Returning_Visitor    False    False
2        1       9            3  Returning_Visitor    False    False
3        2       2            4  Returning_Visitor    False    False
4        3       1            4  Returning_Visitor     True    False

In [ ]:
data['Date_of_Visit'] = pd.to_datetime(data['Administrative']) # Replace 'Administrative' with 'Date' if that's your target column.
data['Date_of_Purchase'] = pd.to_datetime(data['Administrative_Duration']) # Replace 'Administrative_Duration' with 'Date' if that's your target column.

In [43]:
most_purchased_product = data.groupby('ProductRelated')['Revenue'].sum().idxmax()

In [44]:
special_days_purchases = data.groupby('SpecialDay')['Revenue'].sum().reset_index()
special_days_purchases = special_days_purchases.sort_values(by='Revenue', ascending=False)
most_purchased_special_day = special_days_purchases.iloc[0]['SpecialDay']

In [45]:
top_5_special_days = special_days_purchases.head(5)
top_5_visitor_types = data[data['SpecialDay'].isin(top_5_special_days['SpecialDay'])]\
    .groupby(['SpecialDay', 'VisitorType'])['Revenue'].sum().reset_index()

In [49]:
months_purchases = data.groupby('Month')['Revenue'].sum().reset_index()
months_purchases = months_purchases.sort_values(by='Revenue', ascending=False)
most_purchased_months = months_purchases['Month'].tolist()

In [50]:
max_revenue = data[data['Revenue'] == True]['PageValues'].max()
min_revenue = data[data['Revenue'] == True]['PageValues'].min()

In [51]:
print("1. Most purchased product ID:", most_purchased_product)
print("2. Special day with the most purchases:", most_purchased_special_day)
print("3. Top 5 special days of purchase and types of visitors:")
print(top_5_visitor_types)
print("4. Months with most purchases:", most_purchased_months)
print(f"5. Max revenue: {max_revenue}, Min revenue: {min_revenue}")

1. Most purchased product ID: 10
2. Special day with the most purchases: 0.0
3. Top 5 special days of purchase and types of visitors:
    SpecialDay        VisitorType  Revenue
0          0.0        New_Visitor      406
1          0.0              Other       16
2          0.0  Returning_Visitor     1409
3          0.2        New_Visitor        5
4          0.2  Returning_Visitor        9
5          0.4        New_Visitor        4
6          0.4  Returning_Visitor        9
7          0.6        New_Visitor        4
8          0.6  Returning_Visitor       25
9          0.8        New_Visitor        1
10         0.8  Returning_Visitor       10
4. Months with most purchases: ['Nov', 'May', 'Dec', 'Mar', 'Oct', 'Sep', 'Aug', 'Jul', 'June', 'Feb']
5. Max revenue: 361.7637419, Min revenue: 0.0